Package: com.faultyclones.faultycrack
Name: FAULTYCrack
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: ttwj
Author: ttwj
Section: Tweaks
